<!-- Footer -->
        <footer class="container-fluid bg-white fixed-bottom d-none d-md-block">
            <footer class="row align-items-center py-4">
                <div class="col-md-6 ">
                    <p class="m-0">© DashLite - Admin Dashboard </p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p class="m-0" class="">HTML Website Template By :<a href="https://templatesjungle.com/"
                            class="text-decoration-underline" target="_blank">TemplatesJungle</a></p>
                </div>
            </footer>
        </footer>
