<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update category '{{ category.description }}'</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>Update category '{{ category.description }}'</h1>

<form action="/categories/update" method="POST">
    <fieldset>
        <input type="hidden" name="_id" value="{{ category._id }}"><br/>
        <label for="description">Description *</label>
        <input type="text" name="description" id="description"
               value="{{ category.description }}" required><br/>
        <small>Fields with '*' are required</small>
    </fieldset>
    <button type="button">
        <a href="/categories">❌Cancel</a>
    </button>
    <button type="submit">✔️Update</button>
</form>
</body>
</html>