<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Haushaltskosten </title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>Haushaltskosten</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab at culpa, est eum harum laboriosam magni maxime numquam odio praesentium quam quisquam soluta suscipit voluptates, voluptatum. Expedita optio sequi velit!</p>

<h3>Aufgaben für Morgen</h3>
<ol>
    <li><input type="checkbox" checked> MongoDB anbinden</li>
    <li><input type="checkbox" checked>Benutzer: Datenmodell definieren</li>
    <li><input type="checkbox">Benutzer: CRUD implementieren</li>
    <li><input type="checkbox">Files dokumentieren</li>
    <li><input type="checkbox">Unit-Tests schreiben</li>
</ol>
</body>
</html>