<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user '{{ user.firstname + ' ' + user.lastname }}'</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>Update user '{{ user.firstname + ' ' + user.lastname }}'</h1>

<form action="/users/update" method="POST">
    <fieldset>
        <input type="hidden" name="_id" value="{{ user._id }}"><br/>
        <label for="firstname">First name *</label>
        <input type="text" name="firstname" id="firstname"
               value="{{ user.firstname }}" required><br/>

        <label for="lastname">Last name *</label>
        <input type="text" name="lastname" id="lastname"
               value="{{ user.lastname }}" required><br/>
        <small>Fields with '*' are required</small>
    </fieldset>
    <button type="button">
        <a href="/users">❌Cancel</a>
    </button>
    <button type="submit">✔️Update</button>
</form>
</body>
</html>