<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>Transactions</h1>
<table border cellpadding="4" cellspacing="0">
<thead>
    <th>ID</th>
    <th>User</th>
    <th>Kind</th>
    <th>Description</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Modified</th>
    <th></th>
    <th></th>
</thead>

<tbody>
{% for t in transactions %}
    <tr>
        <td><a href="/transactions/{{ t._id }}">{{ t._id }}</a></td>
        <td>{{ t.user_name }}</td>
        <td>{{ t.kind }}</td>
        <td>{{ t.description }}</td>
        <td>{{ t.category_id }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.date }}</td>
        <td>
            <button type="button">
                <a href="/transactions/update/{{ t._id }}">✏️Change</a>
            </button>
        </td>
        <td><form action="/transactions/delete" method="POST"
                  onsubmit="return confirm('Are you sure?')">
                <input type="hidden" name="_id" value="{{ t._id }}">
                <button type="submit">🗑️Delete</button>
            </form>
        </td>
    </tr>
{% endfor %}

</tbody>
</table>

<button type="button">
    🏡<a href="/">Home</a>
</button>
<button type="button">
    ➕<a href="/transactions/create">Create</a>
</button>
</body>
</html>