<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <meta name="keywords" content="Transactions">
    <meta name="description" content="Overview of current transactions">

    {% include 'partials/html_head.html' %}
</head>

<body>
{% include 'partials/sidebar.html' %}

<!-- Main Content -->
<div id="content">
    {% include 'partials/topbar.html' %}

    <div class="container-fluid my-4 px-lg-4">
        <div class="d-flex my-3 justify-content-between align-items-center">
            <h2 class="fw-bold m-0">Transaction List
                <button class="btn btn-outline-dark">
                    ➕ <a href="/transactions/create">Create</a>
                </button>
            </h2>

            <nav class="breadcrumb m-0">
                <a class="breadcrumb-item " href="/">Home</a>
                <span class="breadcrumb-item active " aria-current="page">Transaction List</span>
            </nav>
        </div>

        <div class="bg-white p-4">
            <table class="table table-hover align-middle bg-white">
            <thead class="table-light">
                <th>Modified</th>
                <th>User</th>
                <th>Type</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Description</th>
                <th colspan="2">Actions</th>
            </thead>

            <tbody>
            {% for t in transactions %}
                <tr>
                    <td><a href="/transactions/{{ t._id }}">{{ t.modified }}</a></td>
                    <td>{{ t.username }}</td>
                    <td>{{ t.type }}</td>
                    <td>{{ t.category_name }}</td>
                    <td>{{ t.amount }}</td>
                    <td>{{ t.description }}</td>

                    <td><button class="btn btn-outline-secondary">
                            <a href="/transactions/update/{{ t._id }}">✏️ Change</a>
                        </button>
                    </td>
                    <td><form action="/transactions/delete" method="POST"
                              onsubmit="return confirm('Are you sure?')">
                            <input type="hidden" name="_id" value="{{ t._id }}">
                            <button class="btn btn-outline-danger"
                                    type="submit">🗑️ Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    </div>

    {% include 'partials/footer.html' %}
</div>

{% include 'partials/bootstrap.html' %}
</body>
</html>