<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction '{{ transaction.description }}'</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>Transaction '{{ transaction.description }}'</h1>

<fieldset>
    <label for="username">User</label>
    <input type="text" id="username" value="{{ transaction.username }}" disabled><br>

    <label for="type">Type</label>
    <input type="text" id="type" value="{{ transaction.type }}" disabled><br>

    <label for="category_name">Category</label>
    <input type="text" id="category_name" value="{{ transaction.category_name }}" disabled><br>

    <label for="description">Description</label>
    <input type="text" id="description" value="{{ transaction.description }}" disabled><br>

    <label for="amount">Amount</label>
    <input type="number" id="amount" value="{{ transaction.amount }}" disabled><br>

    <label for="modified">Modified</label>
    <input type="text" id="modified" value="{{ transaction.modified }}" disabled><br>
</fieldset>

<section style="display: flex; gap: 0.5rem">
    <button type="button">
        <a href="/transactions">↩️ Back</a>
    </button>
    <button type="button">
        <a href="/transactions/update/{{ transaction._id }}">✏️Change</a>
    </button>
    <form action="/transactions/delete" method="POST"
          onsubmit="return confirm('Are you sure?')">
        <input type="hidden" name="_id" value="{{ transaction._id }}">
        <button type="submit">🗑️Delete</button>
    </form>
</section>
</body>
</html>