<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update transaction '{{ transaction.description }}'</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<h1>Update transaction '{{ transaction.description }}'</h1>

<form action="/transactions/update" method="POST">
    <fieldset>
        <input type="hidden" name="_id" value="{{ transaction._id }}">

        <label for="user_id">User *</label>
        <select name="user_id" id="user_id" required>
            <option value="">-- Please select --</option>
            {% for u in users %}
                <option value="{{ u._id }}"
                    {% if u._id == transaction.user_id %} selected {% endif %}>
                    {{ u.firstname }} {{ u.lastname }}
                </option>
            {% endfor %}
        </select><br>

        <label>Type *</label>
        {% for k in kind %}
            <label>
                <input type="radio" name="kind" id="{{ k.value }}"
                       value="{{ k.value }}" required
                       {% if k.value == transaction.kind %} checked {% endif %}>
                {{ k.name }}
            </label>
        {% endfor %}<br>

        <label for="category_id">Category *</label>
        <select name="category_id" id="category_id" required>
            <option value="">-- Please select --</option>
            {% for c in categories %}
                <option value="{{ c._id }}"
                    {% if c._id == transaction.category_id %} selected {% endif %}>
                    {{ c.description }}
                </option>
            {% endfor %}
        </select><br>

        <label for="description">Description *</label>
        <input type="text" name="description" id="description" value="{{ transaction.description }}" required><br>


        <label for="amount">Amount *</label>
        <input type="number" name="amount" id="amount" required
               value="{{ transaction.amount }}"
               pattern="^\d{1,3}(\.\d{1,2})?$"
               min="0.00" max="999.99" step="0.01"
               title="Enter a number up to 999.99 with up to two decimal places."><br>

        <label for="date">Modified</label>
        <input type="text" id="date" value="{{ transaction.date }}" disabled><br>

        <small>Fields with '*' are required</small>
    </fieldset>
    <button type="button">
        <a href="/transactions">❌ Cancel</a>
    </button>
    <button type="submit">✔️ Update</button>
</form>
</body>
</html>